<template>
    <transition name="fade">
        <div id="popup" v-if="visible">
            <div id="popup-content">
                <div class="arrow">
                    <img class="" src='../../images/gif/down.gif'/>
                    <div class="text share" v-html="$ml.get('share.shareWords')"></div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: '',
        data: function () {
            return {
                actionFromUser: false,
                visible: false
            }
        },
        props: ['message', 'buttonLabel', 'showOnLoad','image'],
        methods: {
            show (animated) {
                this.visible = true
                this.$emit('show')
            },
            hide () {
                this.visible = false
                this.$emit('close')
            },
        }
    }
</script>

<style lang="scss" scoped>

    @import "../../sass/variables";

    #popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:  url('../../images/background/popupBackground.png');
        display: flex;
        align-items: center;
        color: white;
        z-index: 1000;
        flex-direction: column;
        opacity: 1;
    }

    #popup-content {
        // background:url("../../images/icon/share-blue.png") center/cover;
        background-size: 100% 100%;
        height: 13vh;
        width: 59vw;
        display: flex;
        flex-direction: column;
        color: black;
        margin: 2vh 0 2vh 0;
        position: absolute;
        right: 2vw;
    }

    .arrow img{
        position: absolute;
        left: 51vw;
        transform: rotate(-135deg);
        height: 3vh;
    }

.share {
    position: relative;
    top: 6vh;
    left: 5vh;
    line-height: 1.4;
}

.shake{
    animation: hint-shake 1s infinite;
    /* animation-iteration-count: 2; */

}

@keyframes hint-shake{
       0% {
           transform: translate(0px, 0px);
		}
		50% {
           transform: translate(-20px, 20px);
        }
        100%{
           transform: translate(0px, 0px);
        }
}


    #popup-message {
        font-size: 1.4rem;
        text-align: center;
        // margin-top: 6vh;
        width: 100%;
        height: 100%;
        margin-bottom: 5vh;
        color: black;
        position: relative;

    }
    
    #popup-message img{
        width: 70vw;
    }

    .close-button {
        width: 14vw;
        height: 4vh;
        position: relative;
        left: 28vw;
        top: -80vh;
        opacity: 1;
    }

</style>
