<template>
    <transition name="fade">
        <div id="loading-content" v-if="visible">
            <fade-loader :loading="true" color="white" size="20vw"></fade-loader>
        </div>
    </transition>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    import BounceLoader from 'vue-spinner/src/BounceLoader.vue'
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
    import GridLoader from 'vue-spinner/src/GridLoader.vue'
    import FadeLoader from 'vue-spinner/src/FadeLoader.vue'

    export default {
        name: 'loading',
        data: function () {
            return {
                visible: false
            }
        },
        methods: {
            show () {
                this.visible = true
                this.$emit('show')
            },
            hide () {
                this.visible = false
                this.$emit('hide')
            }
        },
        mounted() {

        },
        components: {
            ClipLoader,
            BounceLoader,
            PulseLoader,
            GridLoader,
            FadeLoader
        }
    }
</script>

<style lang="scss" scoped>

    @import "../../sass/variables";

    #loading-content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $overlay-background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        z-index: 1000;
    }

</style>