<template>
    <transition name="fade">
        <div id="popup" v-if="visible">
            <div id="popup-content" >
                <div v-html="$ml.get('homePage.wrongPwd')"></div>
                <div class="close-button" @click="hide">关&nbsp;闭</div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: '',
        data: function () {
            return {
                actionFromUser: false,
                visible: false
            }
        },
        props: ['message', 'buttonLabel', 'showOnLoad','image'],
        methods: {
            show (animated) {
                this.visible = true
                this.$emit('show')
            },
            hide () {
                this.visible = false
                this.$emit('close')
            },
        }
    }
</script>

<style lang="scss" scoped>

    @import "../../sass/variables";

    #popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        color: white;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
    }

    #popup-content {
        background-size: 100% 100%;
        width: 62vw;
        display: flex;
        flex-direction: column;
        color: white;
        margin: 2vh 0 2vh 0;
        list-style: none;
        border: solid #1ec0a3;
        line-height: 2.5;
        border-radius: 3vw;
        padding: 0 1vw;
        background-color: black;
    }

    #popup-message {
        font-size: 1.4rem;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-bottom: 5vh;
        color: black;
        position: relative;
    }
    
    #popup-message img{
        width: 70vw;
    }

    .close-button {
        width: 14vw;
        height: 4vh;
        position: relative;
        top: 0vh;
        opacity: 1;
        line-height: 4vh;
        left: 0;
        right: 0;
        margin: auto;
        border: solid 2px;
        display: table;
        margin: 2vh auto;
        border-radius: 6px;
    }

</style>
