<template>
    <transition name="fade">
        <div id="popup" v-if="visible">
            <div id="popup-content">
                <div id="popup-message">{{ message }}
                    <img :src="image"/>
                </div>
            </div>
            <div class="close-button" @click="hide"></div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: '',
        data: function () {
            return {
                actionFromUser: false,
                visible: false
            }
        },
        props: ['message', 'buttonLabel', 'showOnLoad','image'],
        methods: {
            show (animated) {
                this.visible = true
                 document.getElementsByClassName('next')[0].style.zIndex = 100
                this.$emit('show')
            },
            hide () {
                this.visible = false
                this.$emit('close')
            },
        }
    }
</script>

<style lang="scss" scoped>

    @import "../../sass/variables";

    #popup {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:  rgba(11, 7, 7, 0.8);
        display: flex;
        // justify-content: center;
        align-items: center;
        color: white;
        z-index: 1000;
        flex-direction: column;
    }

    #popup-content {
        // background-color: white;
        // background:url("../../images/background/letter_paper.png") center/cover;
        height: 80vh;
        // width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 2vh 2vw 2vh 2vw;
        color: black;
        border: solid 1px white;
        // margin: 2vh 0 2vh 0;
        margin: 10vh 0 2vh 0;
        overflow: scroll;
    }

    #popup-message {
        font-size: 1.4rem;
        text-align: center;
        // margin-top: 6vh;
        width: 100%;
        height: 100%;
        margin-bottom: 5vh;
        color: black;
        position: relative;
        // background:url("../../images/label/letter_word.png");

    }
    #popup-message img{
        width: 70vw;
    }

    .close-button {
        // $button-width: 18vw;
        // width: $button-width !important;
        // height: $button-width * 168 / 426 !important;
        width: 14vw;
        height: 4vh;
        position: relative;
        left: 28vw;
        top: -80vh;
        opacity: 1;
    }

</style>
