<template>
    <div id="app">
        <!-- Terms and conditions -->
        <!-- <terms ref="terms"></terms> -->

        <!-- Main application -->
        <transition name="fade">
            <div id="app-content" class="app-content-media" v-if="start">
                <transition name="fade">
                    <router-view></router-view>
                </transition>
            </div>
        </transition>

        <!-- The sound switch should always be visible -->
        <div id="sound-button" :style="soundButtonStyle" @click="toggleSound"></div>
        
        <!-- A loading component is always ready to be used -->
        <loading ref="loading"/>

        <!-- A standard network error message -->
        <popup ref="networkErrorPopup" :message="$ml.get('general.network-error-message')" :button-label="$ml.get('general.ok')"></popup>

        <!-- Here will appear the console.log stuff for live debugging -->
        <div id="live-log" v-show="shouldShowLiveLogs">
            <div v-for="(message, index) in liveLogs" :key="index">{{ message }}</div>
        </div>

        <!-- Show different useful messages when required -->
        <div id="dev-messages" v-show="shouldShowDevMessages">
            <div v-show="!isRouterGuardEnabled">Router ˜guard is disabled</div>
        </div>
    </div>
</template>

<script>
    import Data from '../utils/data'
    import Popup from '../components/PopupComponent.vue'
    import Loading from '../components/LoadingComponent.vue'
    import WeChat from '../utils/wechat'

    export default {
        name: 'home',
        data () {
            return {
                start: false,
                liveLogs: [],
                soundEnabled: false,
                images: require('../resources/images'),
                sounds: require('../resources/sounds'),
                imagesProgress: 0,
            }
        },
        computed: {
            soundButtonStyle () {
                return {
                    'background-image': `url('${this.soundEnabled ? '/images/sound-enabled.png' : '/images/sound-disabled.png'}')`
                }
            }
        },
        methods: {
            toggleSound () {
                Data.soundEnabled = !Data.soundEnabled
                this.soundEnabled = Data.soundEnabled

                if (Data.soundEnabled) {
                    window.eventBus.$emit('play-music')
                } else {
                    window.eventBus.$emit('pause-music')
                }
            },
            playMusicIfEnabled () {
                if (Data.soundEnabled) {
                    window.eventBus.$emit('play-music')
                }
            }
        },
        created () {
            // Live logs
            window.log = message => {
                this.liveLogs.unshift(message)
            }
            require('../utils/custom-logging')   // Use a default logging system for live debugging

            window.eventBus.$on('networkError', () => {
                this.$refs.networkErrorPopup.show()
            })
            window.eventBus.$on('showLoading', () => {
                this.$refs.loading.show()
            })
            window.eventBus.$on('hideLoading', () => {
                this.$refs.loading.hide()
            })
        },
        mounted () {
            // Listen for click from the home page
            window.eventBus.$on('start-game', () => {
                this.playMusicIfEnabled()
                this.start = true
            })

            // Listen for click on terms and conditions on the home page
            window.eventBus.$on('show-terms-and-conditions', () => {
                this.playMusicIfEnabled()
                this.$refs.terms.show(true)
            })

            // Prepare the list of resources we'll have to load
            let resourceLoadingPromises = []

            // Launch the loading of all image resources
            for (let src of this.images) {
                resourceLoadingPromises.push(this.loadImage(src))
            }

            // Launch the loading of all sound resources
            for (let sound of this.sounds) {
                resourceLoadingPromises.push(this.downloadAndStore(sound.key, sound.url))
            }

            // Prepare the list of resources we'll have to load

            // Get URL of all top pictures
            let topPicturesUrl = []
            // for (let theme of app.params.topPictures) {
            //     for (let picture of theme) {
            //         topPicturesUrl.push(picture.path)
            //     }
            // }

            // Get URL of user pictures
            let userPicturesUrl = []
            // for (let picture of app.params.user.pictures) {
            //     userPicturesUrl.push(picture.path)
            // }

            // Launch the loading of all image resources
            for (let src of this.images) {
                resourceLoadingPromises.push(this.loadImageWithProgress(src, (progress, previous) => {
                    if (progress === parseInt(progress)) {
                        this.imagesProgress -= previous
                        this.imagesProgress += progress
                        document.getElementById('progress').innerHTML = `${Math.round(this.imagesProgress / this.images.length)}%`
                    }
                }))
            }

            // Wait for all images loadings to be finished
            Promise.all(resourceLoadingPromises)
                .then(() => {
                    document.getElementById('loading-animation').classList.remove('play-rotate')

                    // Launch the app a while after
                    setTimeout(() => {
                        this.start = true
                        document.getElementById("home-page-content").style.display= 'none'

                    }, 400)
                })
                .catch(error => {
                    console.error(error)
                })
        },
        components: {
            Popup,
            Loading,
        }
    }

</script>

<style lang="scss">

    @import "../../sass/variables";

    button {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0.3vh 10vw 0.3vh 10vw;
        background-color: lightgrey;
        border: solid 1px white;
        font-family: PingFangRegular;
    }

    input {
        margin-bottom: 4vh;
        border: solid 2.1px black;
        border-radius: 6px;
        font-size: 1.2rem;
        padding: 0 4px 0 4px;
        text-align: center
    }


    #live-log {
        position: fixed;
        top:0;
        left: 0;
        background-color: black;
        opacity: 0.8;
        width: 40vw;
        height: 30vh;
        padding: 8px;
        color: white;
        overflow: hidden;
        z-index: 5;
    }

    #dev-messages {
        position: fixed;
        top: 20vh;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
        width: 45vw;
        height: 30vh;
        padding: 8px;
        color: red;
        overflow: hidden;
        text-align: right;
        padding: 0 4px 0 0;

        & > div {
            font-size: 0.7rem;
            z-index: 2;
        }
    }


    .bottom-right-button {
        position: absolute;
        width: 20vw;
        height: 20vw * (66 / 187);
        z-index: 3;
        bottom: 22vh;
        right: 4vw;
    }

    .top-left-logo {
        position: fixed;
        top: 2vh;
        left: 26vh;
        width: 17vw;
        object-fit: contain;
        object-position: center;
        z-index: 3;
    }

    #sound-button {
        position: fixed;
        $sound-button-size: 5vw;
        width: $sound-button-size;
        height: $sound-button-size;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        top: 2vh;
        left: 2vh;

        @media (max-aspect-ratio: 13/9) {
            display: none;
        }
    }

    .image-protector {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 6;
        background-color: transparent;
    }

    ///////////////////////////
    //
    // Animation for pages transition
    //
    ///////////////////////////

    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .4s;
    }

    .fade-enter-active {
        transition-delay: .4s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }

    ///////////////////////////
    //
    // Fade animation used for popups
    //
    ///////////////////////////

    @keyframes fade-appear {
        from {
            visibility: visible;
            opacity: 0;
        }

        to {
            visibility: visible;
            opacity: 1;
        }
    }

    @keyframes fade-disappear {
        from {
            visibility: visible;
            opacity: 1;
        }

        to {
            visibility: collapse;
            opacity: 0;
        }
    }

    .play-fade-appear {
        animation-name: fade-appear;
        animation-duration: $animation-duration;
        animation-fill-mode: forwards;
    }

    .play-fade-disappear {
        animation-name: fade-disappear;
        animation-duration: $animation-duration;
        animation-fill-mode: forwards;
    }

    ///////////////////////////
    //
    // Blur animation
    //
    ///////////////////////////

    @keyframes blur {
        from {
            filter: blur(0px)
        }

        to {
            filter: blur(5px)
        }
    }

    @keyframes unblur {
        from {
            filter: blur(5px)
        }

        to {
            filter: blur(0px)
        }
    }

    .play-blur {
        animation-name: 'blur';
        animation-duration: $animation-duration;
        animation-fill-mode: forwards;
    }

    .play-unblur {
        animation-name: 'unblur';
        animation-duration: $animation-duration;
        animation-fill-mode: forwards;
    }

</style>