<template>
    <div class="page-content">
        <div class="main">
            <div><img class="logo" src="../../images/icon/logo.png"/></div>
            <div class="title"><img src="../../images/icon/title.png"/></div>
            <div class="text" v-html="$ml.get('homePage.content_mid')"></div>

            <div class="bag-gif"><img src="../../images/gif/totebag.gif"/></div>

            <div class="step one">STEP 1</div>
            <div class="text" v-html="$ml.get('homePage.step_1')"></div>
            <div class="down_gif"><img src="../../images/gif/down.gif"/></div>
            <div class="step two">STEP 2</div>
            <div class="text" v-html="$ml.get('homePage.step_2')"></div>
            <div class="down_gif"><img src="../../images/gif/down.gif"/></div>
            <div class="step three">STEP 3</div>
            <div class="text" v-html="$ml.get('homePage.step_3')"></div>

            <div class="password-content">
                <img class='input-box' src="../../images/icon/input-box-image.png" />
                <div class="pwd text">
                    <input class="password text" id='password' type="text" @focus="onFocusInput" @blur="onBlurInput" placeholder="请输入通关密语" v-model="password"/><img class='confirm' @click="redeemGift" src='../../images/icon/true.png'>
                </div>
            </div>

            <div class="text bottom-context" id="bottom" v-html="$ml.get('homePage.bottom_context')"></div>

            <popup-wrong-pwd ref="wrongPwd"></popup-wrong-pwd>
        </div>
        
    </div>
</template>

<script>
    import Popup from '../components/PopupComponent.vue'
    import PopupWrongPwd from '../components/PopupWrongPwd.vue'
    import Router from "../router/index"

    export default {
        name: 'home',
        data () {
            return {
                password: ''
            }
        },

        methods: {
            onFocusInput (e) {
                this.keyboardOpened = true
                var bottom = document.getElementById('bottom')
                bottom.scrollIntoView()
            },

             onBlurInput () {
                var bottom = document.getElementById('bottom')
                bottom.scrollIntoView()
                console.log('blur')
            },

            redeemGift () {
                if(this.password.toUpperCase() === 'RCHKPOPUP' && app.params.redeemed_gift == 0) {
                    app.params.redeemed_gift = 1
                    this.showLoading()
                    this.redeem(app.params.user.id).then(() => {
                        this.hideLoading()
                        Router.push({
                            name:'redeemGiftPage'
                        })
                    }).catch(error => {
                        this.showNetworkErrorPopup()
                    })
                } else {
                    this.$refs.wrongPwd.show()
                }
            }
        },

        components: {
            PopupWrongPwd
        },
        mounted(){
            if (app.params.redeemed_gift == 1) {
                Router.push({
                    name:'redeemedGiftPage'
                })
            } 
        }
    }

</script>

<style lang="scss" scoped>

    @import "../../sass/variables";
    
    
    .password-content {
        display: flex;
        justify-content: center;
        margin-top: 4vh;
    }

    .top {
        width: 100vw;
        height: 5vh;
    }

    
    .one {
        color: yellow;
        margin-top: 6vh;
    }

    .two {
        color:#f5797b ;
    }

    .three {
        color:#227ff4;
    }

    .step {
        letter-spacing: 2px;
        margin-bottom: 1vh;
        font-weight: 600;
    }

    .label {
        width: 22vw;
        display: inline-block;
    }

    .down_gif img {
        height: 3vh;
        margin-bottom: 6vh;
        margin-top: 6vh;
    }

    .colorful-font {
        font-size: 0.8rem;
    }

    .theme {
        color: #009790;
    }

    .pwd {
        width: 64vw;
    }

   .password {
        width: 42vw;
        background: none;
        height: 6vh;
        border: none;
        position: relative;
    }

    .input-box {
        width: 52vw;
        height: 6vh;
        position: absolute;
    }

    .confirm {
        width: 10vw;
        height: 6vh;
        position: relative;
        opacity: 0;
        // top: -1px;
    }

    .confirm-button {
        display: flex;
        float: right
    }

    .bottom-context {
        font-size: 0.6rem;
        margin-bottom: 6vh;
        margin-top: 3vh;
    }

    .bag-gif img {
        margin: 5vh;
        height: 28vh;
        border: solid 3px #1d11de;
        padding: 1.5vw;
    }

    input {
        margin-bottom: 2vh;
    }
</style>