<template>
    <div class="page-content">
        <div class="main">
            <div><img class="logo" src="../../images/icon/logo.png"/></div>
            <div class="title"><img src="../../images/icon/title.png"/></div>
            <div class="text" v-html="$ml.get('redeemGiftPage.congratFinish')"></div>
            <div class="bag-gif"><img src="../../images/gif/totebag.gif"/></div>
            <div class="text encourage" v-html="$ml.get('redeemedGiftPage.inviteFriend')"></div>
            <button class="invite-friend" @click="inviteFriend">邀请好友</button>
            <invite-friend ref="inviteFriend"></invite-friend>
        </div>
    </div>
</template>

<script>
    import InviteFriend from '../components/InviteFriend.vue'

    export default {
        data() {
            return {
            }
        },

        methods: {
            inviteFriend () {
                this.$refs.inviteFriend.show()
            }
        },
        
        components: {
            InviteFriend
        }
    }
</script>

<style lang="scss" scoped>
    .bag-gif img {
        margin: 5vh;
        height: 28vh;
        border: solid 3px #f90b70;
        padding: 1.5vw;
    }

    .invite-friend {
        border: solid 2px #06f2fb;
    }
</style>

