@font-face {
    font-family: "PingFangRegular";
    src: url("PingFangRegular.eot"); /* IE9 */
    src: url("PingFangRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("PingFangRegular.woff") format("woff"), /* chrome、firefox */
    url("PingFangRegular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("PingFangRegular.svg#PingFangRegular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


