// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import '../fonts/PingFangRegular/PingFangRegular-embed.css';
.logo{
  height: 5.5vh;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.page-content {
  // background: url('../../images/background/main-background.jpg') top/cover;
  text-align: center;
  font-family: PingFangRegularSC;
  letter-spacing: 0.4vw;
  color: black;
  background-size: 100% 100%;
}


.main {
  overflow: auto;
  border: 10px solid;
  padding: 6px;
  -webkit-border-image:  url('../images/icon/border.png') 30 round; /* Safari 3.1-5 */
  -o-border-image:  url('../images/icon/border.png') 30 round; /* Opera 11-12.1 */
  border-image: url('../images/icon/border.png') 30 round;
  border-width: 28px;
  background-color: black;
}

.title{
  display: flex;
  justify-content: center;
}

.encourage {
  margin-bottom: 4vh;
}

.title img{
  height: 7vh;
  margin-bottom: 6vh;
  margin-top: 6vh;
  display: table;
}

.text{
  letter-spacing: 0.4vw;
  list-style: none;
  color: white;
  line-height: 2.5;
  font-size: 0.8rem;
  font-weight: 600;
}

.invite-friend {
  border: solid;
  background: none;
  color: white;
  width: 56vw;
  font-size: 1.1rem;
  letter-spacing: 1vw;
  border-radius: 14px;
  width: 35vw;
  height: 7vh;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 2px 1px 0px white inset, 1px 2px 0px white;
  margin-bottom: 3vh;
  padding: 3px 0px 3px 4px;
}

#home-page-content {
  position: absolute;
  background: url('/images/background/main-background.jpg') top/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}

#progress{
  font-size: 1.4rem;
  color: white;
  font-family: PingFangRegular;
}

#loading{
  text-align: center;
  margin: auto;
}

#home-page-logo {
  flex: 1 1 0;

  & img {
    width: 22vw;
    left: 50%;
    position: absolute;
    left: 50%;
    top: 12vh;
    object-fit: contain;
  }
}

#home-page-title {
  position: absolute;
  top: 54%;
  left: 18%;
  width: 46%;
}

#home-page-loading-message {
    flex: 1 1 0;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
      text-align: center;
    }
}

#home-buttons {
  display: flex;
  flex-grow: 1;
  height: 100%;
  // margin-left: 18%;
  width: 50%;
  text-align: center;
}

#start-game-button, #show-terms-and-conditions {
  $button-width: 16vw;

  width: $button-width;
  height: $button-width * (66 / 187);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  margin-top: 18vh;
}

#start-game-button {
  margin-left: 4vw;
}

#show-terms-and-conditions {
  transform: rotate(6deg);
}

#loading-animation {
  height: 10vh;
  display: inline-block;
}

@keyframes half-rotate {
  0% {
      transform: rotate(0deg)
  }

  80% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(180deg)
  }
}

.play-half-rotate {
  animation-name: 'half-rotate';
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

#white-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: white;
  display: none;
}

// Rotate phone style

#rotate-phone {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  background: url('../images/background/main-background.jpg') top/cover;
  color: color;
  padding: 18vh;

  & > div {
      font-size: 1.2rem;
      margin-top: 4vh;
      margin-bottom: 4vh;
      width: 90%;
      text-align: center;
      flex-grow: 1;
  }
}

#android-rotate-message {
    font-size: 0.8rem !important;
}

// @media (min-aspect-ratio: 13/9) {    // Your app runs in landscape
@media (max-aspect-ratio: 13/9) {    // Your app runs in portrait
  .rotate-phone-media {
      display: none;
  }
}

// @media (max-aspect-ratio: 13/9) {    // Your app runs in landscape
@media (min-aspect-ratio: 13/9) {    // Your app runs in portrait
  .app-content-media {
      display: none;
  }
  .rotate-phone-media {
      display: flex;
  }
}

#logo {
  width: $rotate-phone-logo-size;
  height: $rotate-phone-logo-size;
  flex: 0 0 0;
  object-fit: contain;
  margin-top: 6vh;
  margin-bottom: 2vh;
}

#invitation-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rotate-message {
  flex-grow: 0 !important;
}

#rotate-animation {
  margin: 0 !important;

  img {
    width: 8vh;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(-50deg) scale(1)
  }

  50% {
      transform: rotate(40deg) scale(1)
  }

  70% {
      transform: rotate(40deg) scale(1.1)
  }

  80% {
      transform: rotate(40deg) scale(1)
  }

  100% {
      transform: rotate(40deg) scale(1)
  }
}

.play-rotate {
  animation-name: 'rotate';
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

* {
  user-select: none;
}

input {
  user-select: auto;
}

////////////////////////////////
////
////      MIXINS
////
////////////////////////////////

@mixin full-page() {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}